version: '3.9'

services:
  backend:
    build: ./backend
    container_name: flask-backend
    ports:
      - "6000:6000"
    restart: always

  frontend:
    build: ./frontend
    container_name: express-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: always

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
